In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
counts =application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<350].index)
application_types_to_replace
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df['CLASSIFICATION'].value_counts()[15:].index.to_list()
classifications_to_replace

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
dummie_data=pd.get_dummies(application_df)
dummie_data

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [11]:
# Split our preprocessed data into our features and target arrays
X = dummie_data.drop(columns=['IS_SUCCESSFUL']).values
y = dummie_data['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y)

In [12]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_1 = 80
hidden_nodes_2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_1, input_dim=number_input_features, activation='relu'))
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_2, activation='relu'))
# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))
# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 80)                4320
_________________________________________________________________
dense_1 (Dense)              (None, 30)                2430
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 31
=================================================================
Total params: 6,781
Trainable params: 6,781
Non-trainable params: 0
_________________________________________________________________

2023-02-07 19:33:23.825338: I tensorflow/core/platform/cpu_feature_guard.cc:142] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [14]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [15]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
  1/804 [..............................] - ETA: 2:22 - loss: 0.8055 - accuracy: 0.3750

2023-02-07 19:34:00.624878: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:116] None of the MLIR optimization passes are enabled (registered 2)

804/804 [==============================] - 1s 466us/step - loss: 0.5931 - accuracy: 0.7003
Epoch 2/100
804/804 [==============================] - 0s 444us/step - loss: 0.5569 - accuracy: 0.7270
Epoch 3/100
804/804 [==============================] - 0s 456us/step - loss: 0.5523 - accuracy: 0.7290
Epoch 4/100
804/804 [==============================] - 0s 460us/step - loss: 0.5494 - accuracy: 0.7308
Epoch 5/100
804/804 [==============================] - 0s 451us/step - loss: 0.5510 - accuracy: 0.7306
Epoch 6/100
804/804 [==============================] - 0s 449us/step - loss: 0.5466 - accuracy: 0.7343
Epoch 7/100
804/804 [==============================] - 0s 439us/step - loss: 0.5403 - accuracy: 0.7338
Epoch 8/100
804/804 [==============================] - 0s 443us/step - loss: 0.5444 - accuracy: 0.7344
Epoch 9/100
804/804 [==============================] - 0s 441us/step - loss: 0.5421 - accuracy: 0.7358
Epoch 10/100
804/804 [==============================] - 0s 462us/step - loss: 0.5369 - accuracy: 0.7381
Epoch 11/100
804/804 [==============================] - 0s 482us/step - loss: 0.5449 - accuracy: 0.7323
Epoch 12/100
804/804 [==============================] - 0s 488us/step - loss: 0.5373 - accuracy: 0.7403
Epoch 13/100
804/804 [==============================] - 0s 486us/step - loss: 0.5367 - accuracy: 0.7404
Epoch 14/100
804/804 [==============================] - 0s 492us/step - loss: 0.5353 - accuracy: 0.7386
Epoch 15/100
804/804 [==============================] - 0s 500us/step - loss: 0.5380 - accuracy: 0.7395
Epoch 16/100
804/804 [==============================] - 0s 483us/step - loss: 0.5386 - accuracy: 0.7385
Epoch 17/100
804/804 [==============================] - 0s 488us/step - loss: 0.5360 - accuracy: 0.7354
Epoch 18/100
804/804 [==============================] - 0s 364us/step - loss: 0.5391 - accuracy: 0.7365
Epoch 19/100
804/804 [==============================] - 0s 352us/step - loss: 0.5410 - accuracy: 0.7376
Epoch 20/100
804/804 [==============================] - 0s 351us/step - loss: 0.5385 - accuracy: 0.7369
Epoch 21/100
804/804 [==============================] - 0s 346us/step - loss: 0.5380 - accuracy: 0.7395
Epoch 22/100
804/804 [==============================] - 0s 347us/step - loss: 0.5379 - accuracy: 0.7397
Epoch 23/100
804/804 [==============================] - 0s 348us/step - loss: 0.5345 - accuracy: 0.7429
Epoch 24/100
804/804 [==============================] - 0s 348us/step - loss: 0.5364 - accuracy: 0.7371
Epoch 25/100
804/804 [==============================] - 0s 347us/step - loss: 0.5360 - accuracy: 0.7404
Epoch 26/100
804/804 [==============================] - 0s 348us/step - loss: 0.5387 - accuracy: 0.7349
Epoch 27/100
804/804 [==============================] - 0s 352us/step - loss: 0.5353 - accuracy: 0.7389
Epoch 28/100
804/804 [==============================] - 0s 352us/step - loss: 0.5311 - accuracy: 0.7432
Epoch 29/100
804/804 [==============================] - 0s 369us/step - loss: 0.5368 - accuracy: 0.7372
Epoch 30/100
804/804 [==============================] - 0s 346us/step - loss: 0.5399 - accuracy: 0.7361
Epoch 31/100
804/804 [==============================] - 0s 346us/step - loss: 0.5337 - accuracy: 0.7424
Epoch 32/100
804/804 [==============================] - 0s 348us/step - loss: 0.5362 - accuracy: 0.7398
Epoch 33/100
804/804 [==============================] - 0s 350us/step - loss: 0.5349 - accuracy: 0.7398
Epoch 34/100
804/804 [==============================] - 0s 348us/step - loss: 0.5329 - accuracy: 0.7423
Epoch 35/100
804/804 [==============================] - 0s 352us/step - loss: 0.5324 - accuracy: 0.7420
Epoch 36/100
804/804 [==============================] - 0s 348us/step - loss: 0.5407 - accuracy: 0.7340
Epoch 37/100
804/804 [==============================] - 0s 351us/step - loss: 0.5301 - accuracy: 0.7431
Epoch 38/100
804/804 [==============================] - 0s 351us/step - loss: 0.5337 - accuracy: 0.7414
Epoch 39/100
804/804 [==============================] - 0s 351us/step - loss: 0.5323 - accuracy: 0.7438
Epoch 40/100
804/804 [==============================] - 0s 350us/step - loss: 0.5296 - accuracy: 0.7432
Epoch 41/100
804/804 [==============================] - 0s 351us/step - loss: 0.5360 - accuracy: 0.7376
Epoch 42/100
804/804 [==============================] - 0s 349us/step - loss: 0.5296 - accuracy: 0.7442
Epoch 43/100
804/804 [==============================] - 0s 351us/step - loss: 0.5298 - accuracy: 0.7422
Epoch 44/100
804/804 [==============================] - 0s 351us/step - loss: 0.5294 - accuracy: 0.7444
Epoch 45/100
804/804 [==============================] - 0s 349us/step - loss: 0.5304 - accuracy: 0.7431
Epoch 46/100
804/804 [==============================] - 0s 350us/step - loss: 0.5250 - accuracy: 0.7476
Epoch 47/100
804/804 [==============================] - 0s 349us/step - loss: 0.5302 - accuracy: 0.7422
Epoch 48/100
804/804 [==============================] - 0s 349us/step - loss: 0.5276 - accuracy: 0.7466
Epoch 49/100
804/804 [==============================] - 0s 350us/step - loss: 0.5272 - accuracy: 0.7452
Epoch 50/100
804/804 [==============================] - 0s 353us/step - loss: 0.5303 - accuracy: 0.7410
Epoch 51/100
804/804 [==============================] - 0s 350us/step - loss: 0.5262 - accuracy: 0.7458
Epoch 52/100
804/804 [==============================] - 0s 350us/step - loss: 0.5316 - accuracy: 0.7413
Epoch 53/100
804/804 [==============================] - 0s 350us/step - loss: 0.5315 - accuracy: 0.7405
Epoch 54/100
804/804 [==============================] - 0s 385us/step - loss: 0.5313 - accuracy: 0.7405
Epoch 55/100
804/804 [==============================] - 0s 396us/step - loss: 0.5319 - accuracy: 0.7404
Epoch 56/100
804/804 [==============================] - 0s 352us/step - loss: 0.5299 - accuracy: 0.7461
Epoch 57/100
804/804 [==============================] - 0s 353us/step - loss: 0.5253 - accuracy: 0.7456
Epoch 58/100
804/804 [==============================] - 0s 349us/step - loss: 0.5322 - accuracy: 0.7406
Epoch 59/100
804/804 [==============================] - 0s 350us/step - loss: 0.5249 - accuracy: 0.7468
Epoch 60/100
804/804 [==============================] - 0s 349us/step - loss: 0.5258 - accuracy: 0.7450
Epoch 61/100
804/804 [==============================] - 0s 349us/step - loss: 0.5289 - accuracy: 0.7423
Epoch 62/100
804/804 [==============================] - 0s 352us/step - loss: 0.5313 - accuracy: 0.7415
Epoch 63/100
804/804 [==============================] - 0s 350us/step - loss: 0.5233 - accuracy: 0.7480
Epoch 64/100
804/804 [==============================] - 0s 351us/step - loss: 0.5294 - accuracy: 0.7442
Epoch 65/100
804/804 [==============================] - 0s 351us/step - loss: 0.5278 - accuracy: 0.7434
Epoch 66/100
804/804 [==============================] - 0s 350us/step - loss: 0.5250 - accuracy: 0.7446
Epoch 67/100
804/804 [==============================] - 0s 349us/step - loss: 0.5317 - accuracy: 0.7413
Epoch 68/100
804/804 [==============================] - 0s 349us/step - loss: 0.5303 - accuracy: 0.7407
Epoch 69/100
804/804 [==============================] - 0s 351us/step - loss: 0.5293 - accuracy: 0.7428
Epoch 70/100
804/804 [==============================] - 0s 366us/step - loss: 0.5303 - accuracy: 0.7387
Epoch 71/100
804/804 [==============================] - 0s 356us/step - loss: 0.5305 - accuracy: 0.7428
Epoch 72/100
804/804 [==============================] - 0s 349us/step - loss: 0.5271 - accuracy: 0.7469
Epoch 73/100
804/804 [==============================] - 0s 348us/step - loss: 0.5325 - accuracy: 0.7419
Epoch 74/100
804/804 [==============================] - 0s 352us/step - loss: 0.5261 - accuracy: 0.7454
Epoch 75/100
804/804 [==============================] - 0s 352us/step - loss: 0.5371 - accuracy: 0.7347
Epoch 76/100
804/804 [==============================] - 0s 354us/step - loss: 0.5305 - accuracy: 0.7406
Epoch 77/100
804/804 [==============================] - 0s 351us/step - loss: 0.5276 - accuracy: 0.7449
Epoch 78/100
804/804 [==============================] - 0s 349us/step - loss: 0.5311 - accuracy: 0.7425
Epoch 79/100
804/804 [==============================] - 0s 350us/step - loss: 0.5342 - accuracy: 0.7382
Epoch 80/100
804/804 [==============================] - 0s 350us/step - loss: 0.5342 - accuracy: 0.7425
Epoch 81/100
804/804 [==============================] - 0s 349us/step - loss: 0.5304 - accuracy: 0.7407
Epoch 82/100
804/804 [==============================] - 0s 350us/step - loss: 0.5285 - accuracy: 0.7458
Epoch 83/100
804/804 [==============================] - 0s 349us/step - loss: 0.5267 - accuracy: 0.7440
Epoch 84/100
804/804 [==============================] - 0s 350us/step - loss: 0.5251 - accuracy: 0.7440
Epoch 85/100
804/804 [==============================] - 0s 351us/step - loss: 0.5273 - accuracy: 0.7416
Epoch 86/100
804/804 [==============================] - 0s 372us/step - loss: 0.5292 - accuracy: 0.7449
Epoch 87/100
804/804 [==============================] - 0s 350us/step - loss: 0.5263 - accuracy: 0.7459
Epoch 88/100
804/804 [==============================] - 0s 349us/step - loss: 0.5270 - accuracy: 0.7427
Epoch 89/100
804/804 [==============================] - 0s 349us/step - loss: 0.5264 - accuracy: 0.7455
Epoch 90/100
804/804 [==============================] - 0s 351us/step - loss: 0.5236 - accuracy: 0.7477
Epoch 91/100
804/804 [==============================] - 0s 355us/step - loss: 0.5263 - accuracy: 0.7426
Epoch 92/100
804/804 [==============================] - 0s 350us/step - loss: 0.5264 - accuracy: 0.7447
Epoch 93/100
804/804 [==============================] - 0s 350us/step - loss: 0.5348 - accuracy: 0.7366
Epoch 94/100
804/804 [==============================] - 0s 352us/step - loss: 0.5323 - accuracy: 0.7415
Epoch 95/100
804/804 [==============================] - 0s 352us/step - loss: 0.5283 - accuracy: 0.7415
Epoch 96/100
804/804 [==============================] - 0s 352us/step - loss: 0.5235 - accuracy: 0.7486
Epoch 97/100
804/804 [==============================] - 0s 354us/step - loss: 0.5300 - accuracy: 0.7421
Epoch 98/100
804/804 [==============================] - 0s 354us/step - loss: 0.5270 - accuracy: 0.7422
Epoch 99/100
804/804 [==============================] - 0s 368us/step - loss: 0.5252 - accuracy: 0.7455
Epoch 100/100
804/804 [==============================] - 0s 361us/step - loss: 0.5310 - accuracy: 0.7403

In [16]:
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5650 - accuracy: 0.7293
Loss: 0.5649726390838623, Accuracy: 0.7293294668197632

In [18]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_Optimization.h5')